.controls{
  display: flex;
  align-items: center;
  gap: 12px;

  button {
    cursor: pointer;
    svg{
      fill: white;
    }
  }
  .backward,.forward,.skipStart,.skipEnd{
    background: none;
    border: none;
    &:hover{
      transform: scale(1.05,1.05);
    }
  }

  .play{
    padding: 16px;
    border: 1px solid white;
    border-radius: 50%;
    outline: none;
    background: transparent;
    transition: background-color 0.4s;

    &:hover{
      background-color: rgba(255,255,255,0.1);
      transform: scale(1.05,1.05);
    }
  }
}

@media(max-width: 450px){
  .controls{
    .play{
      padding: 12px;
    }
  }
  
}