.audio-play{
  background-color: #000011;
  width: 100%;
  max-width: 330px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;

  &.disabled{
    pointer-events: none;
    opacity: 0.5;
  }

  .slider{
    appearance: none;
    width: 100%;
    height: 5px;
    background:rgba(255, 140, 0,0.9);
    border-radius: 5px;
    background-image: linear-gradient(90deg, rgba(255,69,80,1) 70%, rgba(255,140,0,1) 100%);
    background-size: 100%;
    background-repeat: no-repeat;

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 18px;
      height: 18px;
      border-radius: 50%; 
      background: #04AA6D;
      cursor: pointer;
      position: relative;
      z-index: 10;
    }

    &::-moz-range-thumb {
      height: 15px;
      width: 15px;
      border-radius: 50%;
      border: transparent;
      background-color: #04AA6D;
      cursor: pointer;
      position: relative;
      z-index: 3;
      box-sizing: border-box;
    }
    /* progress bar - firefox */
    &::-moz-range-progress {
      background-color: blue;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      height: 11px;
    }
  }
}