.main{
  width: 100%;
  height: 100vh;


  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .audio-play{
    background-color: #000011;
    width: 350px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;

    
    .controls{
      display: flex;
      align-items: center;
      gap: 12px;

      button {
        cursor: pointer;
        svg{
          fill: white;
        }
      }
      .backward,.forward{
        background: none;
        border: none;
        &:hover{
          transform: scale(1.05,1.05);
        }
      }

      .play{
        padding: 16px;
        border: 1px solid white;
        border-radius: 50%;
        outline: none;
        background: transparent;
        
        &:hover{
          background-color: rgba(255,255,255,0.1);
          transform: scale(1.05,1.05);
        }
      }
    }
  }
}